
  .btnType {
    display: flex;
    column-gap: 3%;
  }
  .btnType input {
    width: 50%;
  }
  .btnClic {
    background: #fff !important;
    color: black !important;
    border: 2px solid rgb(6, 95, 70) !important;
  }
  
  fieldset {
    height: 50px;
    border-radius: 10px;
    border: 1px solid #e2e8f0;
  }
  fieldset legend {
    font-size: 12px;
    opacity: 0.6;
  }
  fieldset legend span {
    color: red;
  }
  fieldset input {
    width: 100%;
  }
  .fieldset{
    margin-bottom: 10px;
  }
  .fieldset input {
    width: 100%;
    height: 100%;
    border: 0;
    outline: unset;
    padding: 1%;
  }